.preview {
  position: relative;
}

.preview__close {
  position: absolute;
  top: 1%;
  cursor: pointer;
  color: red;
}

.preview__send {
  position: absolute;
  bottom: 2%;
  right: 1%;
  background-color: red;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 12px;
  padding: 0.2rem 0.4rem;
  color: #fff;
  cursor: pointer;
}
